<html>
<head>
   <title>Apache Kalumet Agent Environment {0} Update Notification</title>
</head>
<body style="margin: 0; padding: 0; background-color: #ffffff">
    <div id="header" style="background-color: #f0f0f0; width: 100%; font: bold 12px helvetica, sans-serif; color: black">
        Apache Kalumet Agent Environment {0} Update Notification
    </div>
    <div id="central" style="width: 100%; font: 10px helvetica, sans-serif; align: center">
        The update will begin in {1} minute(s).<br/>
        Please, save your work and quit the environment.<br/>
        Thanks.<br/>
    </div>
</body>
</html>